# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FACULTATE\ANUL III\SEMESTRUL II\LIMBAJE FORMALE SI AUTOMATE\Laboratories\Graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
